*{
    margin: 0;
    padding: 0;
}
   
html, body{
    width: 100%;
    height: 100%;
}

.lista_carros{
    width: 60%;
    margin: 0 auto;
    display: block;
}


.lista_carros a{
    color: black;
    text-decoration: none;
}

.log a{ 
    color: white;
    text-decoration: none;
    float: right;
}

.cadastro{
    margin: 20px 0;
}

.cadastro button{
    float: right;
    margin: 0 10px;
}

.log{
    margin: 0 20px;
}

.log button{
    float: right;
    margin: 0 20px;
}

.sem_veiculo{
    font-size: 30px;
}